    .cookie-popup {
        position: fixed;
        bottom: 30px;
        right: 30px;
        width: 280px;
        padding: 40px;
        background: #000;
        color: #fff;
        border-radius: 15px;
        display: none;
        flex-direction: column;
        gap: 5px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        font-family: Arial, sans-serif;
    }

    .cookie-popup.show {
        display: flex;
    }

    .cookie-popup .icono {
        font-size: 45px;
        text-align: left;
    }

    .cookie-popup p {
        margin: 0;
        line-height: 1.3;
        font-size: 25px;
    }

    .btn-cookie {
        padding: 23px;
        background: #fff;
        color: #000;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        font-size: 19px;
        border: none;
        text-align: center;
    }

    .btn-cookie:hover {
        background: #e5e5e5;
    }

    .cerrar {
        position: absolute;
        top: 8px;
        right: 10px;
        background: transparent;
        border: none;
        color: #fff;
        font-size: 35px;
        cursor: pointer;
    }

    .cerrar:hover {
        color: #ff5757;
    }